@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import 'normalize';
@import 'animations';
@import 'toolkit';

body {
  font-family: $appFontsFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: calc(10px + 2vmin);
  color: getTheme(windowTextColor);

  background-color: getTheme(windowBackgroundColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
}
