@import 'toolkit';

.alert {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px 20px;
  max-width: 400px;
  @include fadeInAnimation();

  &__status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 20px 0 25px;

    h3 {
      margin: 0;
      font-size: 28px;
      text-align: center;
    }
    
    span {
      font-size: 14px;
      background: getTheme(windowBackgroundColor);
      color: getTheme(overlayText);
      border-radius: 4px;
      padding: 3px 6px;
    }
  }

  &__icon {
    width: 64px;
    height: 64px;
    margin: 5px 0 0 10px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90px;
    min-height: 90px;
    text-align: center;
    background: getTheme(chartBottomColor);
    border-radius: 10px;
    padding: 5px 0 8px;

    > * {
      margin: 0;
    }

    h4 {
      font-size: 38px;
      color: getTheme(overlayBackground);;
    }
    
    p {
      font-size: 12px;
      margin: 0;
      color: getTheme(overlayText);
      
      strong {
        display: block;
        font-size: 16px;
      }
    }
  }

  &--heavyload &__status h3,
  &--heavyload &__details p strong {
    color: getTheme(dangerTextColor);
  }

  &--recovery &__status h3,
  &--recovery &__details p strong {
    color: getTheme(defaultTextColor);
  }
}
