$component-height: 240px;

.chart {
  margin: 10px 15px;
  height: $component-height;
  border-radius: 10px;
  background: #0d1518;
  background: linear-gradient(0deg, #0d1518 20%, rgba(26, 40, 46, 0) 100%);

  &__items {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    height: $component-height;
    list-style-type: none;
    margin: 0;
    padding: 0 5px;
    background-image: linear-gradient(#1a282e .1em, transparent .1em);
    background-size: $component-height/7 $component-height/7;

    &::after {
      display: block;
      position: absolute;
      top: 2 + $component-height / 2.9;
      left: 5px;
      right: 5px;
      content: 'heavy load threshold';
      color: rgba(255, 255, 255, 0.6);
      font-size: 12px;
      padding-bottom: 4px;
      text-align: center;
      border-bottom: 1px dashed #977400;
    }
  }

  &__item {
    display: block;
    position: relative;
    align-self: flex-end;
    border-radius: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 1px;
    max-height: $component-height;
    margin: 1px;
    transition: height 1s ease-in;
    background: #006afa;
    background: linear-gradient(0deg, #006afa 40%, #deab00 49%, #d51010 54%, #5e0f0f 83%);
    background-position: center bottom;
    background-size: 100% $component-height;

    &:hover {
      background: #7edae6;
      cursor: pointer;
    }

    &-time {
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-top: 10px;
      transform: translate(-50%, 100%);
      padding: 4px 8px;
      background: #FFF;
      font-size: 12px;
      text-align: center;
      border-radius: 4px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.6s;
      z-index: 1000;
      color: #999888;

      strong {
        display: block;
        color: rgb(13,21,24);
      }
  
      i {
        position:absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        width: 10px;
        height: 5px;
        overflow: hidden;

        &::after {
          content:'';
          position: absolute;
          width: 5px;
          height: 5px;
          left: 50%;
          transform: translate(-50%,50%) rotate(45deg);
          background: #FFF;
        }
      }
    }

    &:hover &-time {
      visibility: visible;
      opacity: 1;
    }
  }
}
