@import 'toolkit';

.App {
  position: relative;
  margin: 0 auto;
  background: getTheme(mainBackgroundColor);
  height: 760px;
  width: 400px;

  border-radius: 10px;
  overflow: hidden;

  @include breakpoint() {
    border-radius: 0;
    height: 100vh;
    width: 100vw;
  }

  > header {
    text-align: center;

    h1 {
      margin: 0;
      padding: 16px 0 20px;
      text-transform: uppercase;
      font-size: 12px;
      color: getTheme(defaultTextColor);;
      background: getTheme(navBackgroundColor);
    }

    img {
      transform: translateY(-50%);
    }
  }
}
