@import 'toolkit';

// - Component-specific gauge size configuration
$gauge-size: 200px;
$gauge-bar-width: 4px;

.cpu-load-gauge {
  margin: 0 auto;
  width: $gauge-size;
  height: $gauge-size;
  background: getTheme(windowBackgroundColor);
  border-radius: 50%;

  @include breakpoint() {
    width: $gauge-size / 2;
    height: $gauge-size / 2;
  }
}

.gauge {
  &__mask,
  &__mask-fill {
    width: $gauge-size;
    height: $gauge-size;
    position: absolute;
    border-radius: 50%;

    @include breakpoint() {
      width: $gauge-size / 2;
      height: $gauge-size / 2;
    }
  }

  &__mask {
    clip: rect(0px, $gauge-size, $gauge-size, $gauge-size/2);
    
    @include breakpoint() {
      clip: rect(0px, $gauge-size / 2, $gauge-size / 2, $gauge-size / 4);
    }

    &--full {
      @include gaugebarAnimation;
    }

    &-fill {
      clip: rect(0px, $gauge-size/2, $gauge-size, 0px);
      @include gaugebarAnimation;

      @include breakpoint() {
        clip: rect(0px, $gauge-size / 4, $gauge-size / 2, 0px);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $gauge-size - ($gauge-bar-width * 2);
    height: $gauge-size - ($gauge-bar-width * 2);
    border-radius: 50%;
    background: getTheme(mainBackgroundColor);
    text-align: center;
    margin-top: $gauge-bar-width;
    margin-left: $gauge-bar-width;
    position: absolute;
    z-index: 100;

    @include breakpoint() {
      width: ($gauge-size / 2) - $gauge-bar-width;
      height: ($gauge-size / 2) - $gauge-bar-width;
      margin-top: $gauge-bar-width / 2;
      margin-left: $gauge-bar-width / 2;
    }
    
    &-load {
      display: block;
      font-size: 1.8em;
      border-bottom: 1px solid getTheme(windowBackgroundColor);
      margin: 0 $gauge-bar-width 15px;
      padding-bottom: 8px;

      @include breakpoint() {
        margin: 0 ($gauge-bar-width / 2) 15px;
        font-size: 1em;
      }
    }
    
    &-time {
      font-size: .6em;
    }
  }

  &__mask-fill,
  &__content {
    transition: color 0.8s ease, background-color 0.8s ease;
  }

  &--normal &__mask-fill { 
    background-color: getTheme(defaultWidgetColor);
  }
  &--normal &__content {
    color: getTheme(defaultTextColor);
  }

  &--warning &__mask-fill {
    background-color: getTheme(warningWidgetColor);
  }
  &--warning &__content {
    color: getTheme(warningTextColor);
  }

  &--danger &__mask-fill {
    background-color: getTheme(dangerWidgetColor);
  }
  &--danger &__content {
    color: getTheme(dangerTextColor);
  }
}
